/*
 *= require_tree .
 *= require_self
 */

@import url( 'https://fonts.googleapis.com/css?family=Lato:400,300,700');
@import url( 'https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800');
@import url( 'https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic');
@import url( 'https://fonts.googleapis.com/css?family=Cabin:400,500,600,700,400italic,500italic,600italic,700italic');

//colors
$white: #fff;
$black: #000;
$medium: #00ab6b;
$youtube: #cd201f;
$external: #2c3e50;
$facebook: #3B5998;
$twitter: #55ACEE;
$linkedin: #007bb5;
$oodle_1: #F03465;
$oodle_2: #00B4FF;
$oodle_3: #1ECE6D;

body {
    background-color: #ecf0f1;
    color: #333;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 16px;
    padding-left: 3em;
    margin: 0;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

h1, h2, h3, h4, h5 {
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
}

h1 {
    font-size: 3em;
}

.home {

    align-items: center;

    h1, h2 {
        text-align: center;
        padding: 5px;
    }

    p {
        color: $oodle_3;
        font-size: 1.5em;
        font-family: 'Dosis', sans-serif;
        font-weight: 500;
        text-align: center;
        padding-left: 0;
    }

    i {
        color: $oodle_1;
    }
}

h2, h3 {
    padding-left: 2em;
}

p {
    padding-left: 5em;
}

img {
    display: block;
    margin: auto;
    width: 100%;
    // border: 5px solid $oodle_3;
    // border-radius: 4px;
    padding: 5px;
    padding-top: 2em;
    width: 200px;
}
