@import url( 'https://fonts.googleapis.com/css?family=Lato:400,300,700');
@import url( 'https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800');
@import url( 'https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic');
@import url( 'https://fonts.googleapis.com/css?family=Cabin:400,500,600,700,400italic,500italic,600italic,700italic');

//colors
$white: #fff;
$black: #000;
$medium: #00ab6b;
$youtube: #cd201f;
$external: #2c3e50;
$facebook: #3B5998;
$twitter: #55ACEE;
$linkedin: #007bb5;
$oodle_1: #F03465;
$oodle_2: #00B4FF;
$oodle_3: #1ECE6D;

body {
  background-color: #fbc547;
  color: #333;
  font-family: 'Merriweather', serif;
  padding: 18vh 1rem;
  text-align: center;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

.middleman-logo {
  margin-bottom: 1rem;
  width: 10rem;
}
