@import url( 'https://fonts.googleapis.com/css?family=Lato:400,300,700');
@import url( 'https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800');
@import url( 'https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic');
@import url( 'https://fonts.googleapis.com/css?family=Cabin:400,500,600,700,400italic,500italic,600italic,700italic');

//colors
$white: #fff;
$black: #000;
$medium: #00ab6b;
$youtube: #cd201f;
$external: #2c3e50;
$facebook: #3B5998;
$twitter: #55ACEE;
$linkedin: #007bb5;
$oodle_1: #F03465;
$oodle_2: #00B4FF;
$oodle_3: #1ECE6D;

body {
    background-color: #ecf0f1;
    color: #333;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 16px;
    padding-right: 3em;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

h1, h2, h3, h4, h5 {
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
}

h1 {
    font-size: 3em;
}

.home {
    h1, h2, h4 {
        text-align: center;
        padding: 5px;
    }

    h4 {
        color: $oodle_3;
    }
}

h2, h3 {
    padding-left: 2em;
}

p {
    padding-left: 5em;
}

img {
    display: block;
    margin: auto;
    width: 100%;
    // border: 5px solid $oodle_3;
    // border-radius: 4px;
    padding: 5px;
    width: 150px;
}

.projects {
    h2, h3, h4, h5 {
        float: inherit;
    }
    img {
        float: left;
        padding-left: 2em;
        padding-right: 1em;
    }

    p {
        padding-right: 4em;
    }
}

.education {
    padding-right: 3em;

    h1 {
        text-align: center;
    }

    li {
        list-style-type: none;
        margin: 5px;
        padding-left: 5em;
    }

    li::before {
        content: "\f067";
        font-family: "FontAwesome";
        color: $oodle_3;
        margin-right: 4px;
    }
}

i {
    .fa {
        transition: all 0.2s ease-in-out;
    }

    &.colored {
        font-size: 4em;
    }
}

.skills {
    h1 {
        text-align: center;
    }

    p {
        text-align: center;
        padding: 5px;
    }
}

.skills span {
    margin: 15px;
}

.social {
    .fa {
        padding: 15px;
        font-size: 20px;
        width: 20px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;
        color: $white;
    }

    &.fa:hover {
        opacity: 0.7;
    }
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 25%;
    right: 0;
    width: 100%;
}

.fa-facebook {
    background: $facebook;
}

.fa-twitter {
    background: $twitter;
}

.fa-linkedin {
    background: $linkedin;
}

.fa-github {
    background: $black;
}

.fa-medium {
    background: $medium;
}

.fa-envelope {
    background: $oodle_1;
}

.fa-phone {
    background: $oodle_2;
}

.icon-bar {
    width: 90px; /* Set a specific width */
}

.icon-bar a {
    display: block; /* Make the links appear below each other instead of side-by-side */
    text-align: center; /* Center-align text */
    padding: 16px; /* Add some padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 36px; /* Increased font-size */
}

.icon-bar a:hover {
    opacity: 0.7; /* Add a hover color */
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $oodle_1;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Dosis', sans-serif;
    color: $white;
    display: block;
    transition: 0.3s;
}

.offcanvas a:focus,
.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

span.nav {
    color: $oodle_2;
}

@media screen and(max-height: 450px) {
	.sidenav {
		padding-top: 15px;
		a {
			font-size: 14px;
		}
	}
}
