.education
    %h1 Education
    %h3 Flatiron School | 2016
    %ul
        %li Full Stack Web Development, Ruby on Rails and JavaScript online program
    %br/
    %h3 Xavier University | Cincinnati, OH | 2010, 2008
    %ul
        %li M.A.: Theology - 2010 - GPA: 3.556/4
        %li B.A..: Theology, Minor: Business, Peace Studies - 2008 - GPA: 3.328/4
        %ul
            %li Awarded the Loyola Medal for Commitment to Ministry
