.projects
    %h1 PROJECTS
    .card.card--big
        .card__image{:style => "background-image: url('/images/flix4me.jpg')"}
        %h2.card__title Flix4Me
        %p.card__text A fun, interactive app to log your favorite movies -- It’s the Goodreads for movies!
        .card__action-bar
            %button.card__button
                %a{href: 'https://flix4me.herokuapp.com/', target: '_blank'} See it Live
            %button.card__button
                %a{href: 'http://www.github.com/mcasciato/flix4me', target: '_blank'} View on GitHub
    .card.card--big
        .card__image{:style => "background-image: url('/images/myceus.jpg')"}
        %h2.card__title MyCEUs
        %p.card__text The go-to stop for healthcare professionals to log their continuing education units.
        .card__action-bar
            -# %button.card__button
            -#     %a{href: 'http://www.google.com', target: '_blank'} See it Live
            %button.card__button
                %a{href: 'https://github.com/mcasciato/rails-assessment-ceu-tracker', target: '_blank'} View on GitHub
    .card.card--big
        .card__image{:style => "background-image: url('/images/sinatraInstruments.jpg')"}
        %h2.card__title My Instruments
        %p.card__text An elegant way for musicians to organize their instrument collection.
        .card__action-bar
            -# %button.card__button
            -#     %a{href: 'http://www.google.com', target: '_blank'} See it Live
            %button.card__button
                %a{href: 'https://github.com/mcasciato/sinatra-instruments', target: '_blank'} View on GitHub
    .card.card--big
        .card__image{:style => "background-image: url('/images/politicalNews.jpg')"}
        %h2.card__title Political News
        %p.card__text A fast, simple CLI interface for catching up on the latest political news.
        .card__action-bar
            -# %button.card__button
            -#     %a{href: 'http://www.google.com', target: '_blank'} See it Live
            %button.card__button
                %a{href: 'https://github.com/mcasciato/political_news_cli_gem', target: '_blank'} View on GitHub
