.projects
    %h1 PROJECTS
    .card.card--big
        .card__image{:style => "background-image: url('/images/flix4me.jpeg')"}
        %h2.card__title Flix4Me
        %p.card__text A fun, interactive app to log your favorite movies -- It’s the Goodreads for movies!
        .card__action-bar
            %button.card__button
                %a{href: 'http://www.google.com', target: '_blank'} See it Live
            %button.card__button
                %a{href: 'http://www.google.com', target: '_blank'} View on GitHub
    .card.card--big
        .card__image{:style => "background-image: url('/images/myceus.jpeg')"}
        %h2.card__title MyCEUs
        %p.card__text A fun, interactive app to log your favorite movies -- It’s the Goodreads for movies!
        .card__action-bar
            %button.card__button
                %a{href: 'http://www.google.com', target: '_blank'} See it Live
            %button.card__button
                %a{href: 'http://www.google.com', target: '_blank'} View on GitHub
    .card.card--big
        .card__image{:style => "background-image: url('/images/sinatraInstruments.jpeg')"}
        %h2.card__title My Instruments
        %p.card__text A fun, interactive app to log your favorite movies -- It’s the Goodreads for movies!
        .card__action-bar
            %button.card__button
                %a{href: 'http://www.google.com', target: '_blank'} See it Live
            %button.card__button
                %a{href: 'http://www.google.com', target: '_blank'} View on GitHub
    .card.card--big
        .card__image{:style => "background-image: url('/images/politicalNews.jpeg')"}
        %h2.card__title Political News
        %p.card__text A fun, interactive app to log your favorite movies -- It’s the Goodreads for movies!
        .card__action-bar
            %button.card__button
                %a{href: 'http://www.google.com', target: '_blank'} See it Live
            %button.card__button
                %a{href: 'http://www.google.com', target: '_blank'} View on GitHub
