.skills
    %h1 Skills
    %p
        %span
            %i.devicon-html5-plain.colored
        %span
            %i.devicon-css3-plain.colored
        %span
            %i.devicon-ruby-plain.colored
        %span
            %i.devicon-rails-plain.colored
    %p
        %span
            %i.devicon-javascript-plain.colored
        %span
            %i.devicon-jquery-plain.colored
        %span
            %i.devicon-angularjs-plain.colored
        %span
            %i.devicon-github-plain.colored
    %p
        %span
            %i.devicon-git-plain.colored
        %span
            %i.devicon-bower-plain.colored
        %span
            %i.devicon-bootstrap-plain.colored
        %span
            %i.devicon-atom-plain.colored
